#contact {
    background-color: #efefef;
    border-radius: 10px;
    display: flex;
    margin-top: 20px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.avatar img {
    width: 400px;
    height: 205px;
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 5px;

}

.content img  {
    width: 30px;
    margin-left: 10px;
    border-radius: 5px;
}

.content h1 {
    font-size: 30px;
    color: #dbaf84;
}

.content h1::before {
    content: '';
    color: #D9D9D9;
    width: 15px;
    border: 1px solid #D9D9D9;
    transform: rotate(90deg);
    margin-right: 10px;
}

.content {
    margin-left: 10px;
}

.content .row {
    display: flex;
}